<section class="main-container container">
  <div class="categories-and-support">
  <div class="categories-container">
    <ul class="categories-list">
      <li class="categories-item active-category">All categories</li>
    </ul>
  </div>
  <div class="support-block">
  <div class="support-container">
    <div class="support-content">
      <h3 class="support-text">Support Ukraine</h3>
      <img
        srcset="../img/coat_arms_2x (1).png 2x , ../img/coat_arms.png 1x"
        src="../img/coat_arms.png"
        alt="coat_arms_Ukraine"
        width="20"
      />
    </div>
    <ul class="support-list" id="logoList">
      <li class="support-item">
        <span>01</span>
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/save_the_children_2x.png 2x , ../img/save_the_children.png 1x"
            width="131"
            height="32"
            class="support-img"
            src="../img/save_the_children.png"
            alt="savethechildren"
        /></a>
      </li>
      <li class="support-item">
        <span>02</span>
        <a
          href="https://www.projecthope.org/country/ukraine/"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/hope_2x.png 2x , ../img/hope.png 1x"
            width="62"
            height="32"
            class="support-img"
            src="../img/hope.png"
            alt="projecthope"
        /></a>
      </li>
      <li class="support-item">
        <span>03</span>
        <a
          href="https://internationalmedicalcorps.org/country/ukraine/"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/imc_2x.png 2x , ../img/imc.png 1x"
            width="101"
            height="32"
            class="support-img"
            src="../img/imc.png"
            alt="internationalmedicalcorps"
        /></a>
      </li>
      <li class="support-item">
        <span>04</span>
        <a
          href="https://www.razomforukraine.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/razom_2x.png 2x , ../img/razom.png 1x"
            width="82"
            height="32"
            class="support-img"
            src="../img/razom.png"
            alt="razomforukraine"
        /></a>
      </li>
      <li class="support-item">
        <span>05</span>
        <a
          href="https://www.actionagainsthunger.org/location/europe/ukraine/"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/hunger_2x.png 2x , ../img/hunger.png 1x"
            width="55"
            height="32"
            class="support-img"
            src="../img/hunger.png"
            alt="actionagainsthunger"
        /></a>
      </li>
      <li class="support-item">
        <span>06</span>
        <a
          href="https://prytulafoundation.org/en"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/prytula_2x.png 2x , ../img/prytula.png 1x"
            width="115"
            height="32"
            class="support-img"
            src="../img/prytula.png"
            alt="prytulafoundation"
        /></a>
      </li>
      <li class="support-item">
        <span>07</span>
        <a
          href="https://www.msf.org/ukraine"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/msf_2x.png 2x , ../img/msf.png 1x"
            width="94"
            height="32"
            class="support-img"
            src="../img/msf.png"
            alt="msf"
        /></a>
      </li>
      <li class="support-item">
        <span>08</span>
        <a
          href="https://www.wvi.org/emergencies/ukraine"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/world_vision_2x.png 2x , ../img/world_vision.png 1x"
            width="81"
            height="32"
            class="support-img"
            src="../img/world_vision.png"
            alt="wvi"
        /></a>
      </li>
      <li class="support-item">
        <span>09</span>
        <a
          href="https://u24.gov.ua/uk"
          target="_blank"
          rel="noopener noreferrer"
          class="support-link"
          ><img
            srcset="../img/united_24_2x.png 2x , ../img/united_24.png 1x"
            width="114"
            height="32"
            class="support-img"
            src="../img/united_24.png"
            alt="u24"
        /></a>
      </li>
    </ul>
  </div>
  <button type="button" class="support-btn support-link" id="toggleLogo">
    <img class="btn-icon" src="../img/angle-small.png" alt="btn-icon" />
  </button>
</div>
  </div>
</div>
  <div class="best-sellers"></div>
</section>