<header class="header">
  <section class="header-section container">
    <div class="header-container">
      <div>
        <a href="index.html" class="logo-link">
          <svg width="24px" height="24px">
            <use href="../img/icons.svg#logo"></use>
          </svg>
          <img
            src="../img/bookshelf.png"
            srcset="../img/bookshelf.png, ../img/bookshelf-2x.png"
            alt="bookshelf"
          />
        </a>
      </div>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li>
            <a href="../index.html" class="header-nav-item-link current-home"
              ><span class="header-nav-item">Home</span></a
            >
          </li>
          <li>
            <a href="../shopping-list.html" class="header-nav-item-link"
              ><span class="header-nav-item">Shopping list</span
              ><svg class="header-nav-icon" width="20px" height="20px">
                <use href="../img/icons.svg#cart"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-btn-container">
      <div class="checkbox-container">
        <label id="switch" class="switch">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
      </div>
      <button class="header-button js-open-menu">
        <svg class="header-hamburger-icon" width="28px" height="28px">
          <use href="../img/icons.svg#rename"></use>
        </svg>
        <svg class="header-close-icon" width="28px" height="28px">
          <use href="../img/icons.svg#close"></use>
        </svg>
      </button>
      <button class="header-button-user">
        <svg class="header-user-icon" width="19px" height="19px">
          <use href="../img/icons.svg#user"></use>
        </svg>
      </button>
    </div>
  </section>
</header>
<div class="mob-menu js-menu-container">
  <div class="mob-menu-wraper">
    <ul class="list">
      <li class="mob-menu-item">
        <a href="../index.html" class="header-nav-item-link current-home"
          ><span class="header-nav-item">Home</span></a
        >
      </li>
      <li class="mob-menu-item">
        <a href="../shopping-list.html" class="header-nav-item-link"
          ><span class="header-nav-item">Shopping list</span
          ><svg class="header-nav-icon" width="20px" height="20px">
            <use href="../img/icons.svg#cart"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
