<div class="backdrop">
  <div class="modal">
    <button class="modal-close-btn" type="button" data-action="modal-close">
      <svg class="close-btn-icon" width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <div class="modal-img-wrapper">
      <img class="modal-img" src="" alt="" width="287" height="408">
      <h1 class="modal-img-title">HELLO BEAUTIFUL</h1>
      <p class="modal-img-subtitle">Ann Napolitano</p>
    </div>
    <div class="modal-features-wrapper">
      <p class="features-desc">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as
        he gets to the know the family
        of his college sweetheart.</p>
      <ul class="features-list">
        <li class="features-list-item">
          <a class="features-item-link" href="">
            <img class="features-link-img" srcset="../img/img@1x/amazon@1x.png 1x, ../img/img@2x/amazon@2x.png 2x"
              src="../img/img@1x/amazon@1x.png" alt="Amazon">
          </a>
        </li>
        <li class="features-list-item">
          <a class="features-item-link" href="">
            <img class="features-link-img"
              srcset="../img/img@1x/apple-books@1x.png 1x, ../img/img@2x/apple-books@2x.png 2x"
              src="../img/img@1x/apple-books@1x.png" alt="Amazon">
          </a>
        </li>
      </ul>
    </div>
    <button class="modal-btn" type="button">Add to shopping list</button>
    <p class="modal-tip">
      Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the
      shopping
      list”.
    </p>
  </div>
</div>