<div class="backdrop is-hidden">
  <div class="modal-container">
    <button class="modal-close-btn" type="button" data-action="modal-close">
      <svg class="close-btn-icon">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <div class="modal-info-container"></div>
    <div class="modal-btn-wrap">
      <button class="btn modal-btn-add" type="button">
        Add to shopping list
      </button>
      <button class="btn modal-btn-remove visually-hidden" type="button">
        Remove from shopping list
      </button>
      <p class="modal-tip visually-hidden">
        Congratulations! You have added the book to the shopping list. To
        delete, press the button "Remove from the shopping list".
      </p>
    </div>
  </div>
</div>
