.categories-list {
  list-style: none;
}

/* .main-container {
  display: flex;
} */

.books-card-container {
  display: flex;
  justify-content: space-between;
}

.active-category {
  color: #4f2ee8 !important;
  font-weight: 700;
  text-transform: uppercase;
}

.all-categories-btn {
  cursor: pointer;
}
