.dark {
  background-color: #202024;
}

.dark body,
.dark a {
  color: #ffffff;
}

.dark header,
.dark .book_li {
  background-color: #111111;
  color: #ffffff;
}

.dark .categories-item,
.dark .book_li-description,
.dark .book_li-title {
  color: white;
}

.dark .active-category {
  color: #eac645 !important;
}
.dark .title-book {
  color: #ffffff;
}

.dark .books-card-title {
  color: #ffffff;
}

.dark .books-card-author {
  color: #b4afaf;
}
.dark .books-btn {
  color: #ffffff;
}

.header-logo-text {
  fill: #000000;
}

.dark .header-logo-text {
  fill: #ffffff;
}
.dark .header-hamburger-icon,
.dark .header-close-icon {
  background: black;
  stroke: white;
}

.dark .header-nav-icon {
  fill: white;
}

.dark .header-nav-item {
  color: white;
}

@media (max-width: 768px) {
  .dark .header-nav-item {
    color: black;
  }
}

.dark .nav-item-shop {
  color: white;
}

.dark .category-title,
.dark .text-color,
.dark .empty-list-text {
  color: white;
}

.dark .preloader {
  background-color: #202024;
}

.dark .book_link-amazon,
.dark .book_link-book {
  filter: brightness(0.93) invert(100%);
}

.dark .book_link {
  filter: grayscale(100%);
}
