.dark {
    background-color: #202024;
}

.dark body {
    color: #FFFFFF;
}

.dark a {
    
    color: #FFFFFF;
}

.dark header {
    background-color: #111111;
     color: #FFFFFF;
}

.dark .categories-item {
    color: #FFFFFF99;
}

.dark .active-category {
    color: #EAC645 !important;
}
.dark .title-book {
    color: #FFFFFF;
}

.dark .books-card-title 

{
    color: #FFFFFF;
}

.dark .books-card-author {
    color: #B4AFAF;
}
.dark .books-btn {
    color: #FFFFFF;
}

 



.header-logo-text {

   fill: #000000; 
}

.dark .header-logo-text {

    fill: #FFFFFF;


}

.dark  .hamburger {

    fill: #FFFFFF;


}

.dark .header-close-icon {

   
    fill: white


}

