.dark {
  background-color: #202024;
}

.dark body,
.dark a {
  color: #ffffff;
}

.dark header {
  background-color: #111111;
  color: #ffffff;
}

.dark .categories-item {
  color: white;
}

.dark .active-category {
  color: #eac645 !important;
}
.dark .title-book {
  color: #ffffff;
}

.dark .books-card-title {
  color: #ffffff;
}

.dark .books-card-author {
  color: #b4afaf;
}
.dark .books-btn {
  color: #ffffff;
}

.header-logo-text {
  fill: #000000;
}

.dark .header-logo-text {
  fill: #ffffff;
}
.dark .header-hamburger-icon,
.dark .header-close-icon {
  background: black;
  stroke: white;
}

.dark .header-nav-icon {
  fill: white;
}

.dark .header-nav-item {
  color: white;
}

@media (max-width: 768px) {
  .dark .header-nav-item {
    color: white;

    color: black;
  }
}

.dark .nav-item-shop {
  color: white;
}

.dark .text-color,
.dark .book_li-title,
.dark .book_li-description,
.book_li-description {
  color: white;
}
.dark .book_li {
  background-color: #202024;
}
.dark .book_link-amazon,
.dark .book_link-book {
  filter: brightness(0.87) invert(100%);
}
.dark .modal-container {
  background-color: #202024;
  border: wheat;
}
.dark .content-title,
.dark .content-subtitle,
.dark .content-desc,
.dark .modal-tip,
.dark .modal-btn-add,
.dark .modal-btn-remove {
  color: white;
}
.dark .close-btn-icon {
  background-color: #202024;
  stroke: wheat;
}
.dark .content-list-item {
  filter: brightness(0) invert(1);
}

.dark .category-title {
  color: white;
}

.dark .preloader {
  background-color: #202024;
}
