.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 182, 183);
    z-index: 2;
transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.loader {
    width: 8px;
    height: 8px;
    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: #3498db;
    animation: wave 1s ease-in infinite;
}

.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes wave {
    0% {
        box-shadow:
            0 0 0 0px rgba(52, 152, 219, 1),

            0 0 0 20px rgba(52, 152, 219, 0.2),

            0 0 0 40px rgba(52, 152, 219, 0.6),

            0 0 0 60px rgba(52, 152, 219, 0.4),

            0 0 0 80px rgba(52, 152, 219, 0.2);

    }

    100% {
        box-shadow:
            0 0 0 80px rgba(52, 152, 219, 0),

            0 0 0 60px rgba(52, 152, 219, 0.2),

            0 0 0 40px rgba(52, 152, 219, 0.4),

            0 0 0 20px rgba(52, 152, 219, 0.6),

            0 0 0 0px rgba(52, 152, 219, 1);

    }

}