:root {
  --t-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --content-subtitle: #b4afaf;
  --modal-tip: rgba(17, 17, 17, 0.5);
  --backdrop: rgba(17, 17, 17, 0.4);
  --modal-btn-shadow-foc: rgba(0, 0, 0, 0.15);
  --modal-close-btn-hov: #4f2ee8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*  ? ++++++++++++++++++++++++++++++++++
     ! Styles for Mobile >>>>>>>>>>>>>
    ? ++++++++++++++++++++++++++++++++++ */

.backdrop {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  cursor: not-allowed;
  background: var(--backdrop);
  overflow-y: scroll;
  transition: opacity 250ms var(--t-cubic-bezier),
    visibility 250ms var(--t-cubic-bezier);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 339px;
  height: auto;
  padding: 40px 24px;
  cursor: pointer;
  background: var(--white-color);
  border: 2px solid var(--black-second);
  border-radius: 18px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--t-cubic-bezier);
}

.backdrop.is-hidden .modal-container {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  cursor: inherit;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
}

.close-btn-icon {
  width: 100%;
  height: 100%;
  stroke: var(--black-second);
  transition: stroke 250ms var(--t-cubic-bezier);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  stroke: var(--modal-close-btn-hov);
}

.modal-info-container {
  min-width: 287px;
  height: auto;
}

.modal-img-wrap {
  margin-bottom: 14px;
}

.modal-img {
  background-color: var(--yellow-color);
  border-radius: 8px;
}

.content-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  color: var(--black-second);
}

.content-subtitle {
  margin-bottom: 18px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  color: var(--content-subtitle);
}

.modal-content-wrap {
  width: auto;
  height: auto;
  margin-bottom: 44px;
}

.content-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--black-second);
  margin-bottom: 14px;
}

.content-list {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.content-list-item {
  filter: grayscale(100%);
  transition: filter 250ms var(--t-cubic-bezier);
}

.content-list-item:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-btn-wrap {
  min-width: 287px;
  height: auto;
}

.btn {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  color: var(--black-second);
  text-transform: uppercase;
  border: 2px solid var(--violet-color);
  border-radius: 40px;
  background-color: var(--white-color);
  transition: color 250ms var(--t-cubic-bezier),
    background-color 250ms var(--t-cubic-bezier);
}

.modal-btn-add {
  width: auto;
  padding: 14px 28px;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--violet-color);
}

.btn:focus {
  box-shadow: 0px 4px 18px 0px var(--modal-btn-shadow-foc);
}

.modal-tip {
  width: 242px;
  margin: 8px auto 0 auto;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--modal-tip);
  text-align: center;
}

/*  ? ++++++++++++++++++++++++++++++++++
     ! Styles for Tablet & Desktop >>>>
    ? ++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .modal-container {
    width: 579px;
    padding: 40px;
  }

  .modal-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 40px;
  }

  .modal-img-wrap {
    margin-bottom: 0;
  }

  img.modal-img {
    max-width: 192px;
  }

  .content-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.96px;
  }

  .content-subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .content-desc {
    margin-bottom: 20px;
  }

  .modal-tip {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }

  .btn {
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
  }
}