@import url('./base.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400&display=swap');

/* header */
@import url('./header.css');

/* modal */
@import url('./modal.css');

/* shopping-list */
@import url('./shopping-list.css');

/* ваша стилізація 3 */
@import url('./support.css');

/* dark theme */
@import url('./dark-theme.css');

/* pagination */

@import url("./pagination.css");