@import url('./base.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400&display=swap');

/* header */
@import url('./header.css');

/* modal */
/* @import url('./modal.css'); */

/* shopping-list */
/* @import url('./shopping-list.css'); */

/* categories+topBooks */
@import url('./categories.css');
@import url('./top-books.css');

/* ваша стилізація 2 */
/* @import url('./'); */

/* ваша стилізація 3 */
@import url('./support.css');

/* ваша стилізація 4 */
@import url('./main-page-support.css');

/* ваша стилізація 5 - Олена */
@import url('./books-cards.css');

/* dark theme */
@import url('./dark-theme.css');

