.support-block {
  max-width: 335px;
  padding: 24px 20px 20px 20px;
  border-radius: 16px;
  color: var(--white-color);
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.support-content {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  margin-left: 20px;
}

.support-text {
  margin-right: 12px;
  letter-spacing: -4%;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}

.support-list {
  margin-left: 20px;
  margin-bottom: 20px;
}

.support-list span {
  font-size: 14px;
  line-height: 18px;
}
.support-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.support-item:last-child {
  margin-bottom: 0px;
}

.support-img {
  filter: brightness(0) invert(1);
}

.support-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.support-link:hover {
  transform: scale(1.05);
}

.rotate-180 {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .support-block {
    max-width: 335px;
    padding: 24px 20px 24px 20px;
  }

  .support-text {
    font-size: 24px;
  }

  .support-list {
    margin-bottom: 24px;
  }

  .support-btn {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-icon {
    width: 22px;
    height: 22px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .support-block {
    max-width: 356px;
    padding: 24px 20px 24px 20px;
  }

  .support-list {
    margin-bottom: 24px;
  }

  .support-btn {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-icon {
    width: 22px;
    height: 22px;
    text-align: center;
  }
}
